#community-page.page.invisible
  header.page-header
    h1
    h2
    .page-toolbar
      button#goto-new-topic-page-btn.action-btn.btn.small New Topic
      button#join-community-btn.action-btn.btn.small Join
      button#leave-community-btn.action-btn.btn.small Leave
  p.community-intro
  ul#topics-list.items-list