footer.app-footer
  span.footer-toggle &#x25B2;
  .container
    p GitCommunities.com is not affiliated with <a href="http://github.com/">GitHub</a>.
    p Except as otherwise noted, the content of this page is licensed under the <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>.