header.app-header         
  nav.main-toolbar
    .left-menu
      .logined-show
        a(href="/communities").nav-link.action-btn.btn My communities
        a(href="").goto-current-community-page-btn.nav-link.action-btn.btn Community
        a(href="/create")#goto-new-community-page-btn.nav-link.action-btn.btn New Community
    #user-toolbar.right-menu
      .logined-show
        #user-profile
          img.avatar
          span      
        a(href="/").home-btn.nav-link.action-btn.btn.iconed-btn
        a(href="/logout")#logout-btn.action-btn.btn.iconed-btn
      .unlogined-show
        a(href="/").home-btn.nav-link.action-btn.btn.iconed-btn
        a(href="").goto-current-community-page-btn.nav-link.action-btn.btn Community
        a(href="/auth")#login-btn.action-btn.btn.iconed-btn  