header.app-header         
  nav.main-toolbar
    #user-profile.logined-show
      img.avatar
      span
    #user-toolbar
      .logined-show
        a(href="/").nav-link.action-btn.btn Home
        a(href="/communities").nav-link.action-btn.btn My communities
        a(href="").goto-current-community-page-btn.nav-link.action-btn.btn Community
        a(href="/create")#goto-new-community-page-btn.nav-link.action-btn.btn New Community
        a(href="/logout").action-btn.btn Logout
      .unlogined-show
        a(href="/").nav-link.action-btn.btn Home
        a(href="").goto-current-community-page-btn.nav-link.action-btn.btn Community
        a(href="/auth")#login-btn.action-btn.btn Login  