#home-page.page.invisible 
  section.welcome-section.unlogined-show
    .stats-section
      .stats-item.topics-count
        strong= topicsCount
        span Topics
      .stats-item.members-count
        strong= membersCount
        span Members
      .stats-item.communities-count
        strong= communitiesCount
        span Communities
  ul#communities-list.items-list