#member-page.page.invisible
  .basics
    img.avatar
    span.name
    button#follow-member-btn.action-btn.btn Follow
  .details
    p.bio
    aside
      span.location
      span.blog
    .member-stats
      span.followers-count
      span.following-count