@import 'nib'
global-reset();
*
  box-sizing: border-box;

.breadcrumbs ul li
  display: inline-block;


.visible
  display: block;
.inline-visible
  display: inline-block;
.invisible
  display: none;