@import 'nib'
global-reset();
*
  box-sizing: border-box;


html
  &.unlogined
    & .unlogined-show
      display: block;
    & .logined-show
      display: none;
  &.logined
    & .logined-show
      display: block;
    & .unlogined-show
      display: none;


.breadcrumbs ul li
  display: inline-block;


.input
  display: inline-block;
  width: 210px;
  height: 18px;
  padding: 14px;
  margin-bottom: 9px;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  color: #393C3D;
  border: 1px solid #CCC;
  border-radius: 3px;
  outline: none;
  transition: border linear 0.2s,box-shadow linear 0.2s;
  &:focus
    border-color: rgba(237, 29, 137, 0.8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 4px rgba(237, 29, 137, 0.8),0 0 0 black;
    outline: 0;
    outline: thin dotted 9;

a
  text-decoration: none;

textarea.input
  overflow: hidden;
  vertical-align: top;
  padding: 10px;
  height: 60px;

form
  & .input
    display: block;
    width: 100%;
    margin-bottom: 20px;
.btn
  display: inline-block;
  padding: 0.4em 0.9em;
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  vertical-align: middle;
  margin: 0;
  border-radius: 0.25em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #127EAF;
  background: -webkit-linear-gradient(top, #25A8E3 0%, #1C92C8 50%, #188BC1 50.1%, #127EAF 100%);
  background: -moz-linear-gradient(top, #25A8E3 0%, #1C92C8 50%, #188BC1 50.1%, #127EAF 100%);
  font-size: 14px;
  line-height: normal;
  font-weight: 500;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
  text-decoration: none;


.panel
  display: inline-block;
  background: #FAFAF5;
  margin: 4% 0 0 0;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, .15);
  border-radius: 6px;
  border-top: 1px solid white;
  position: relative;
  min-height: 80px;
  overflow: hidden;

.items-list > li
  padding: 10px 20px;
  background: #F4F4F0;
  margin: 0 0 20px 0;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, .15);
  border-radius: 6px;
  border-top: 1px solid white;
  position: relative;
  min-height: 100px;
  list-style: none;
  &:hover
    background: white;
    cursor: pointer;
  & .details
    margin-left: 100px;
  & .counter
    min-width: 88px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background: #FA8F0E;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 20px;
    transition: all .20s ease-in-out;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    overflow: hidden;
    z-index: 100000;   

    & span
      display: inline-block;
      padding: 3px 0;
      font-size: 5.2em;
      font-family: sans-serif;
      font-weight: bold;
      line-height: 1;
      vertical-align: middle;
      color: white;
      text-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0;
      letter-spacing: -0.05em; 

.avatar
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px;
  border: 2px solid rgba(0, 0, 0, 0.15);
  margin-right: 10px;
  opacity: .8;
  width: 45px;
  &:hover
    opacity: 1;

.app-header
.page
  width: 1020px;
  margin: 0 auto;

header.app-header
  & .main-toolbar
    position: relative;
    height: 40px;
  #user-profile
    position: absolute;
    left: 10px;
    & .avatar
      width: 30px;
  #user-toolbar
    position: absolute;
    right: 10px;

#home-page.page
  & .community-item
    & .join-community-btn
      position: absolute;
      right: 10px;
      top: 10px;


ul.participants
  & li
    list-style: none;
    display: inline-block;
    & img
      width: 24px;


#new-community-description
  height: 300px;

#topic-page
  & .message
    & .user-info
      position: absolute;
      right: 5px;  
      top: 5px;
.visible
  display: block;
.inline-visible
  display: inline-block;
.invisible
  display: none;