@import 'nib'
global-reset();
*
  box-sizing: border-box;
  outline: 0;


html
  height: 100%;
  overflow-x: hidden;
  &.unlogined
    & .unlogined-show
      display: block;
    & .logined-show
      display: none;
  &.logined
    & .logined-show
      display: block;
    & .unlogined-show
      display: none;

html
body
  font-family: Helvetica, arial, freesans, clean, sans-serif;


body
  height: 100%;
  background-color: white;

.input
  display: inline-block;
  width: 210px;
  height: 18px;
  padding: 14px;
  margin-bottom: 9px;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  color: #393C3D;
  border: 1px solid #CCC;
  border-radius: 2px;
  outline: none;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  &:focus
    border-color: yellow;

a
  text-decoration: none;

textarea.input
  overflow: hidden;
  vertical-align: top;
  padding: 10px;
  height: 60px;

form
  & .input
    display: block;
    width: 100%;
    margin-bottom: 20px;
.btn
  display: inline-block;
  background-color: yellow;
  border-radius: 3px;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  color: black;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 15px;
  border: 0;
  line-height: 1;
  vertical-align: baseline;
  margin: 0 2px;
  font-weight: normal;
  font-family: arial;
  cursor: pointer;
  &:hover
    background-color: #02779E;
    color: white;

.panel
  display: inline-block;
  background: #FAFAF5;
  margin: 4% 0 0 0;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, .15);
  border-radius: 6px;
  border-top: 1px solid white;
  position: relative;
  min-height: 70px;
  overflow: hidden;

.items-list
  min-height: 150px;
  & > li
    margin: 0;
    padding: 10px 20px;
    background: white;
    box-shadow: inset 0 1px #E3E3E3;
    border-radius: 0;
    border-top: 1px solid white;
    position: relative;
    min-height: 80px;
    list-style: none;
    & h1
    & p
      color: black;
    & h1
      font-weight: bold;
    &:hover
      background-color: #02779E;
      cursor: pointer;
      color: white;
      & h1
      & p
      & .metadata
      & .counter span
        color: white;

    & .details
      margin-left: 100px;
    & .counter
      min-width: 88px;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 20px;
      transition: all .20s ease-in-out;
      cursor: pointer;
      text-align: center;
      display: inline-block;
      overflow: hidden;
      z-index: 100000;   

      & span
        display: inline-block;
        padding: 3px 0 0;
        font-size: 76px;
        font-family: sans-serif;
        font-weight: bold;
        line-height: 1;
        vertical-align: middle;
        color: #02779E;
        letter-spacing: -0.05em; 

.avatar
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-right: 10px;
  opacity: .8;
  width: 45px;
  &:hover
    opacity: 1;

.app-header
.app-footer .container
.page
  width: 1020px;
  margin: 5px auto;

.page
  min-height: 100%;
  position: relative;
  & > form
    margin-bottom: 10px;


header.app-header
  & .main-toolbar
    position: relative;
    height: 50px;
  #user-profile
    position: absolute;
    left: 10px;
    & .avatar
      width: 45px;
      height: 45px;
    & span
      font-size: 20px;
      line-height: 45px;
      font-weight: bold;  
    & .avatar
    & span
      vertical-align: top;  
  #user-toolbar
    position: absolute;
    right: 10px;

footer.app-footer
  border-top: 1px solid #E0E0E0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  & .container
    margin-top: 20px;
    & p
      display: inline-block;
      vertical-align: top;
      margin: 10px 10px 0 0;

#home-page.page
  & .community-item
    & .join-community-btn
      position: absolute;
      right: 10px;
      top: 20px;

.metadata
  font-size: 13px;
  position: absolute;
  bottom: 10px;
  color: black;
  & span.label
    color: #818181;

ul.participants
  & li
    list-style: none;
    display: inline-block;
    & img
      width: 24px;


#new-community-description
  height: 300px;

#goto-new-topic-page-btn
.goto-current-community-page-btn
  display: none;

html[data-page-name="community-page"]
  & #goto-new-topic-page-btn
    display: inline-block;
html[data-page-name="topic-page"]
  & .goto-current-community-page-btn
    display: inline-block;

#community-page
  & > .details 
    & > h1
      font-size: 28px;
      line-height: 42px;
    & > p
      font-size: 15px;
      line-height: 23px;
      margin-top: 20px;
      margin-bottom: 20px;
      color: #4D4D4D;  

#topic-page
  & .message
    & .user-info
      position: absolute;
      right: 5px;  
      top: 5px;
.visible
  display: block;
.inline-visible
  display: inline-block;
.invisible
  display: none;