html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}
html {
  height: 100%;
  overflow-x: hidden;
}
html.unlogined .unlogined-show {
  display: block;
}
html.unlogined .logined-show {
  display: none;
}
html.logined .logined-show {
  display: block;
}
html.logined .unlogined-show {
  display: none;
}
html,
body {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
}
body {
  height: 100%;
  background-color: #fff;
}
::-moz-selection {
  background: #fff200;
  color: #252525;
  text-shadow: none;
}
::selection {
  background: #fff200;
  color: #252525;
  text-shadow: none;
}
.input {
  display: inline-block;
  width: 210px;
  height: 18px;
  padding: 14px;
  margin-bottom: 9px;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  color: #393c3d;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  outline: none;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
.input:focus {
  border-color: #fff200;
}
a,
a:visited {
  text-decoration: none;
  color: #fff;
}
textarea.input {
  overflow: hidden;
  vertical-align: top;
  padding: 10px;
  height: 60px;
}
form .input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
a.btn,
.btn {
  display: inline-block;
  background-color: #fff200;
  color: #252525;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 15px;
  border: 0;
  line-height: 1;
  vertical-align: baseline;
  margin: 0 2px;
  font-weight: normal;
  font-family: arial;
  cursor: pointer;
}
a.btn:hover,
.btn:hover {
  background-color: #555;
  color: #fff;
}
.panel {
  display: inline-block;
  background: #fafaf5;
  margin: 4% 0 0 0;
  -webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.15);
  box-shadow: 1px 2px 2px rgba(0,0,0,0.15);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  position: relative;
  min-height: 70px;
  overflow: hidden;
}
.items-list {
  min-height: 150px;
  margin-bottom: 80px;
}
.items-list > li {
  margin: 0;
  padding: 10px 20px;
  background: #fff;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-top: 1px solid #746e17;
  position: relative;
  min-height: 80px;
  list-style: none;
}
.items-list > li h1,
.items-list > li p {
  color: #000;
}
.items-list > li h1 {
  font-weight: bold;
}
.items-list > li:hover {
  background-color: #555;
  cursor: pointer;
  color: #fff;
}
.items-list > li:hover h1,
.items-list > li:hover p,
.items-list > li:hover .metadata,
.items-list > li:hover .counter span,
.items-list > li:hover span.label {
  color: #fff;
}
.items-list > li .details {
  margin-left: 100px;
}
.items-list > li .counter {
  min-width: 88px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  z-index: 100000;
}
.items-list > li .counter span {
  display: inline-block;
  padding: 3px 0 0;
  font-size: 76px;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 1;
  vertical-align: middle;
  color: #252525;
  letter-spacing: -0.05em;
}
.avatar {
  border: 1px solid rgba(0,0,0,0.15);
  margin-right: 10px;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  width: 45px;
}
.avatar:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.app-header,
.app-footer .container,
.page {
  width: 1020px;
  margin: 5px auto;
}
.page {
  min-height: 100%;
  position: relative;
  padding-bottom: 20px;
}
.page > form {
  margin-bottom: 10px;
}
header.app-header .main-toolbar {
  position: relative;
  height: 50px;
}
header.app-header #user-profile {
  position: absolute;
  left: 10px;
}
header.app-header #user-profile .avatar {
  width: 45px;
  height: 45px;
}
header.app-header #user-profile span {
  font-size: 20px;
  line-height: 45px;
  font-weight: bold;
}
header.app-header #user-profile .avatar,
header.app-header #user-profile span {
  vertical-align: top;
}
header.app-header #user-toolbar {
  position: absolute;
  right: 10px;
}
footer.app-footer {
  border-top: 2px solid #555;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #555;
  color: #fff;
}
footer.app-footer .footer-toggle {
  padding: 4px 12px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #555;
  color: #fff;
  position: absolute;
  bottom: 2px;
  left: 20px;
  -webkit-transition: bottom 0.2s;
  -moz-transition: bottom 0.2s;
  -o-transition: bottom 0.2s;
  -ms-transition: bottom 0.2s;
  transition: bottom 0.2s;
  cursor: pointer;
}
footer.app-footer .container {
  margin-top: 0;
  margin-bottom: 0;
  height: 0;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  -o-transition: height 0.2s;
  -ms-transition: height 0.2s;
  transition: height 0.2s;
}
footer.app-footer .container p {
  display: inline-block;
  vertical-align: top;
  margin: 10px 10px 0 0;
}
footer.app-footer.expanded .container {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  -o-transition: height 0.2s;
  -ms-transition: height 0.2s;
  transition: height 0.2s;
  height: 80px;
}
footer.app-footer.expanded .footer-toggle {
  bottom: 82px;
  -webkit-transition: bottom 0.2s;
  -moz-transition: bottom 0.2s;
  -o-transition: bottom 0.2s;
  -ms-transition: bottom 0.2s;
  transition: bottom 0.2s;
}
#home-page.page .community-item .join-community-btn {
  position: absolute;
  right: 10px;
  top: 20px;
}
#home-page.page .community-item .join-community-btn:hover {
  background-color: #252525;
  color: #fff200;
}
.metadata {
  font-size: 13px;
  position: absolute;
  bottom: 10px;
  color: #000;
}
.metadata span.label {
  color: #555;
}
ul.participants li {
  list-style: none;
  display: inline-block;
}
ul.participants li img {
  width: 24px;
}
#new-community-description {
  height: 300px;
}
#goto-new-topic-page-btn,
.goto-current-community-page-btn {
  display: none !important;
}
html[data-page-name="community-page"] #goto-new-topic-page-btn {
  display: inline-block !important;
}
html[data-page-name="topic-page"] .goto-current-community-page-btn {
  display: inline-block !important;
}
#community-page > .details > h1 {
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}
#community-page > .details > h1:after {
  margin-top: -2px;
  content: "";
  display: block;
  border-bottom: 2px solid #252525;
  width: 300px;
}
#community-page > .details > h2 {
  margin-top: 20px;
}
#community-page > .details > p {
  font-size: 15px;
  line-height: 23px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #4d4d4d;
}
#topic-page .message .user-info {
  position: absolute;
  right: 5px;
  top: 5px;
}
.visible {
  display: block;
}
.inline-visible {
  display: inline-block;
}
.invisible {
  display: none;
}
